
<nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Star Wars</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a [routerLink] ="['']">Home</a></li>
        <li routerLinkActive="active"><a [routerLink] ="['users']">Users</a></li>
        <li routerLinkActive="active"><a [routerLink] ="['about-us']" >About Us</a></li>
        <li routerLinkActive="active"><a href="#">Contact Us</a></li>
        <li routerLinkActive="active"><a href="#">Gallery</a></li>
    </ul>
    </div>
</nav>



<div class = "container">
    <h1> {{title}}</h1>
    <table class="table table-striped table-bordered table-hover">
    <tr *ngFor="let person of people" (click)=onClick(person) [class.selected]="selected===person">
        <td>{{person.name}}</td>
    </tr>
    </table>
    <table *ngIf="selected.name" class="table table-striped table-bordered table-hover"> <!-- selected.name is empty so its false by default -->
    <tr>
        <th>Height</th>
        <th>Weight</th>
    </tr>
    <tr>
        <td>{{selected.height}}</td>
        <td>{{selected.weight}}</td>
    </tr>
    </table>
    <p>Below list is imported from other componment</p>
    <!-- <people-list></people-list> --> <!-- Our child component selector -->
    <router-outlet></router-outlet> <!-- Angular 2 Routing directive that displays the active route -->

</div>